{% extends '::base.html.twig' %}
{% block stylesheets %}
    {% block metakeywords %}{% endblock %}
    <meta name="google-site-verification" content="Auscr0EJ2PX5NcuRTjwae44kVHotYqPckuly6VU9lBw" />
    <meta name='yandex-verification' content='550973fe479c6ef0' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Cantora+One" rel="stylesheet" type="text/css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    {% stylesheets 'bundles/web/css/animate.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets  filter='yui_css'
    '@WebBundle/Resources/public/css/bxslider.css'
    '@WebBundle/Resources/public/css/magnific-popup.css'
    '@WebBundle/Resources/public/css/styles.css'
    '@WebBundle/Resources/public/css/custom.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/997945850/?value=0&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
    <noscript><img height="1" width="1" border="0" alt="" style="display:none" src="https://www.facebook.com/tr?id=1449811991932234&amp;ev=NoScript" /></noscript>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/web/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/web/js/respond.min.js') }}"></script>
    <link href="{{ asset('bundles/web/css/ie/ie8.css') }}" rel="stylesheet"/>
    <![endif]-->
{% endblock %}
{% block body %}
    {% block header %}
        <header id="header" class="navbar">
            <div class="container">
                <div class="row topinfo">
                    <div class="col-xs-12 col-sm-6 col-md-6 pull-left"><span class="text-muted">Сервис создания современных сайтов</span></div>
                    <div class="col-xs-12 col-sm-6 col-md-6 pull-right text-right"><span class="text-muted">+7 499 504 42 78</span></div>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only"><noindex>Skip navigation</noindex></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="{{ path ('ad') }}">MuraveyWeb</a>
                </div>
                <nav class="collapse navbar-collapse" role="navigation">
                    {{ knp_menu_render('WebBundle:FrontendBuilder:mainMenu', {'depth': 2, 'currentAsLink': false}) }}
                </nav>
            </div>
        </header>
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
        {% include 'WebBundle:Ad:footer.html.twig' %}
        <noscript><div><img src="//mc.yandex.ru/watch/24957868" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6010727242402&amp;value=0.01&amp;currency=USD" /></noscript>
    {% endblock %}
{% endblock %}
{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    {% javascripts '@WebBundle/Resources/public/js/*' filter='yui_js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}