<div class="section-large">
    {% for entity in entities if entity.getAdGroup.id == '4'  %}
        {% if loop.first %}
            <h1 class="text-center margin-base">{{ entity.getAdGroup.title }}</h1>
        {% endif %}
    {% endfor %}
    <div class="row">
        <ul class="cbp-ig-grid">
            {%  for entity in entities if entity.getAdGroup.id == '4'  %}
                <li>
                    <a href="{{ entity.url }}">
                        <span class="{{ entity.icon }}"></span>
                        <h3 class="cbp-ig-title">{{ entity.title }}</h3>
                        <span class="cbp-ig-category">{{ entity.text|raw('html') }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>