<div class="section-base">
    <div class="row" id="work">
        {% for entity in entities if entity.getAdGroup.id == '5'  %}
            {% if loop.first %}
                <h1 class="text-center margin-base">{{ entity.getAdGroup.title }}</h1>
            {% endif %}
        {% endfor %}
    </div>
    <div class="iconbox section-small">
        <div class="row steps">
            {%  for entity in entities if entity.getAdGroup.id == '5'  %}
                <a href="{{ entity.url }}">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <span class="{{ entity.icon }}"></span>
                        <h5 class="header">{{ entity.title }}</h5>
                        <div class="content">
                            {{ entity.text|raw('html') }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>