{% extends 'WebBundle::layout.html.twig' %}
{% block content %}
    {{ include('AntWebBundle:Ad:id_one.html.twig') }}
    <div class="container" id="main">
        {#Не просто сайт#}
        {{ include('AntWebBundle:Ad:id_five.html.twig') }}
        {#Что внутри?#}
        {{ include('AntWebBundle:Ad:id_two.html.twig') }}
        {#Галерея#}
        {{ render(controller('AntMediaBundle:Gallery:last', {'max':'10'})) }}

        {#4 шага до сайта#}
        {{ include('AntWebBundle:Ad:id_three.html.twig') }}

       {#Ссылка на заявку#}
        <div class="row">
            <div class="text-center">
                <a href="{{ path ('order_new') }}" class="btn btn-primary btn-lg">Отправить заявку</a>
            </div>
        </div>
    </div>
{% endblock %}