{% extends 'WebBundle::layout.html.twig' %}
{% block title %}Сервис разработки и поддержки web-сайтов{% endblock %}
{% block metakeywords %}
{{ parent() }}
    <meta name="description" content="MuraveyWeb - сервис разработки сайтов с поддержкой и обновлением движка и модулей.">
{% endblock %}
{% block content %}
    {{ include('AntWebBundle:Ad:lp.html.twig') }}
    {#{{ include('AntWebBundle:Ad:id_one.html.twig') }}#}
    <div class="container">
        {{ include('AntWebBundle:Ad:id_five.html.twig') }}
        {{ include('AntWebBundle:Ad:id_two.html.twig') }}
    </div>
    {{ include('AntWebBundle:Ad:price.html.twig') }}
    <div class="container">
        {{ include('AntWebBundle:Ad:id_three.html.twig') }}
        {{ render(controller('AntMediaBundle:Gallery:last', {'max':'10'})) }}
        <div class="row section-large">
            <div class="text-center">
                <a href="/order/new" class="btn btn-success btn-lg">Отправить заявку на бесплатное техзадание</a>
            </div>
        </div>
    </div>
{% endblock %}