{% extends 'AntWebBundle::layout.html.twig' %}
{% block content %}
    <div class="page-top">
        <div class="container">
            <h1 class="page-top-header">{{ adGroupTitle }}</h1>
            <ol class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">{{ adGroupTitle }}</li>
            </ol>
        </div>
    </div>

    <div class="container" id="main">

        <div class="row">

            <div class="col-md-3">
                <div id="sidebar" class="affix" role="complementary">
                    {{ knp_menu_render('WebBundle:FrontendBuilder:modulesMenu') }}
                </div>
            </div>

            <div class="col-md-9">
                {% for entity in ad %}
                    <div class="row">
                        <h2 id="{{ entity.position }}"> {{ entity.title }}
                        </h2>
                    </div>
                    <div class="row">
                        <div>{{ entity.text | raw('html') }}</div>
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>
{% endblock %}
