{% extends 'WebBundle::layout.html.twig' %}
{% block metakeywords %}
    <meta name="keywords" content="{{ entity.metaKey }}">
    <meta name="description" content="{{ entity.metaDesc }}">
{% endblock %}
{% block content %}
    <div class="page-top">
        <div class="container">
            <h1 class="page-top-header">{{ adGroupTitle }}</h1>
            <ol class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">{{ adGroupTitle }}</li>
            </ol>
        </div>
    </div>
    <div class="container" id="main">
        <div class="row">
            <div class="col-md-3">
                <div id="sidebar" class="affix" role="complementary">
                    {{ knp_menu_render('WebBundle:FrontendBuilder:modulesMenu') }}
                </div>
            </div>
            <div class="col-md-9">
                {% for entity in ad if entity.active %}
                    <div class="row iconbox section-small">
                        <h2 id="{{ entity.position }}">{{ entity.title }}</h2>
                        {{ entity.text | raw('html') }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {#Ссылка на заявку#}
        <div class="row">
            <div class="text-center">
                <a href="/order/new" class="btn btn-primary btn-lg">Отправить заявку на составление техзадания</a>
            </div>
        </div>
    </div>
{% endblock %}
