{% extends 'WebBundle::layout.html.twig' %}
{% block title %}Статьи и новости о разработке, создании и продвижении web-сайтов - MuraveyWeb{% endblock %}
{% block content %}
    {% trans_default_domain "AntWebBundle" %}
    <div class="page-top">
        <div class="container">
            <h1 class="page-top-header">{{ 'news.list'|trans }}</h1>
            <ol class="breadcrumb">
                <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <li><a href="/" itemprop="url"><span itemprop="title">Главная</span></a></li>
                    </div>
                <li class="active">{{ 'news.list'|trans }}</li>
            </ol>
        </div>
    </div>
    <div class="container" id="main">
        <div id="blog-home" class="row">
            {% for entity in pagination %}
                <article>
                    <div class="row">
                        <div class="post-meta-side col-sm-3 col-md-2">
                            <div class="date">
                                {% if entity.created %}
                                    <span class="month">{{ entity.created|date('M') }}</span>
                                    <span class="day">{{ entity.created|date('d') }}</span>
                                    <span class="year">{{ entity.created|date('Y') }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="post-content col-sm-9 col-md-10">
                            <div class="post-intro">
                                <img src="{% path entity.getMedia, 'gallery' %}" alt="" />
                            </div>
                            <h2 class="hr2 blog-post-title text-center"><a href="{{ path('ant_news_show', { 'slug': entity.slug, 'id': entity.id }) }}">{{ entity.title }}</a></h2>
                            <div class="post-excerpt">
                                {{ entity.description }}
                               <div> <a href="{{ path('ant_news_show', { 'slug': entity.slug, 'id': entity.id }) }}" class="btn btn-default btn-sm">{{ 'news.read'|trans }}</a>
                               </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <ul class="pager">
                {{ knp_pagination_render(pagination) }}
            </ul>
        </div>
    </div>
{% endblock %}


